/* TODO */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* font-family: Tahoma, sans-serif; */
    font-family: "Arial";
    margin: 0;
    padding: 0;
}

nav, .hero {
    background-color: #1F2937;
    color: white;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav img {
    width: 75px;
    height: auto;
    margin-top: 5px;
    margin-right: 300px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 90px;
}

.grey {
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
}

.hero-image, .hero-title {
    width: 640px;
    height: 300px;
    margin: 100px 0 120px 0;
}

.hero-title {
    padding-right: 40px;
}

.hero-image img {
    width: 500px;
    height: auto;
}

.hero .hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.button {
    width: 25%;
    height: 40px;
    font-size: 20px;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.pic-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: auto 0;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item div {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 10%;
}

.item div img {
    width: 192px; 
    height: auto;
    border-radius: 15px;
}

.item p {
    width: 200px;
    text-align: center;
    font-weight: 100;
}

.jumbo {
    background-color: #E5E7EB;
    margin-top: 100px
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex p {
    font-size: 36px;
    font-weight: 100;
    width: 700px;
    margin-top: 100px;
}

.flex h3 {
    line-height: 10px;
}

.quote-container, .quote-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    margin-top: 100px;
    background-color: #E5E7EB;
    height: 500px;
}

.quote-flex-container {
    flex-direction: column;
    width: 55%;
}

.quote-flex-container .quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-flex-container .quote-name {
    align-self: flex-end;
    justify-content: flex-start;
    margin-top: auto;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    height: 200px;
}

.call-to-action-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    width: 70%;
    border-radius: 12px;
    padding: 80px;
}

.call-right {
    color: white;
}

.call-right h3 {
    line-height: 0;
    font-weight: bolder;
    font-size: 22px;
}

.call-right p {
    font-weight: 10px;
}

.call-to-button {
    width: 100px;
    border: 2px solid white;
}

footer {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    color: white;
}